In [ ]:
1. Introduction to variable in python

Variables are nothing but the value holders that are being assigned to it.

In [1]:
x = 5

In [2]:
y = 3

In [3]:
x + y

8

In [ ]:
2. Rules for declaring variables

In [ ]:
1. Variable should not contain any name spaces while declaring it

In [4]:
first name = 'faiyaz'

SyntaxError: invalid syntax (<ipython-input-4-9874d20e52c0>, line 1)

In [6]:
firstname = 'faiyaz'

print(firstname)

faiyaz

In [ ]:
2. Variable name should not start with a number

In [7]:
1name = 'naveen'

print(1name)

SyntaxError: invalid syntax (<ipython-input-7-557c24864e17>, line 1)

In [ ]:
#Can we keep the numbers in the middle or at the end ---> Yes

In [8]:
name1 = 'naveen'

print(name1)

naveen

In [ ]:
3. Variable name should not contain special charators

@ $ &

In [9]:
name@ = 'pooja'

print(name@)

SyntaxError: invalid syntax (<ipython-input-9-7b79f6b5614d>, line 1)

In [ ]:
3. Introduction to datatypes in python

    1. String --> str 
    2. Numbers ---> integers (int) and floats (float) (Decimals)
    3. List ---> list
    4. Tuple ---> tuple
    5. Dictionaries ---> dict

In [ ]:
Classification of datatypes in python

    1. Mutable datatypes ---> We can able to edit or alter the datatype
    
    2. Immutable datatypes  ---> We will not be able to edit or alter the datatype

In [ ]:
4. Introduction to string datatype

A string is nothing but a series of charactors in between the quotes.

In [ ]:
Classification --> String is classified as immutable datatype

In [ ]:
How to declare a string ---> 3 possible approches

    1. Single quotes
    2. Double quotes
    3. Triple quotes

In [10]:
name = 'Rishika' #Single quotes

print(name)

Rishika

In [11]:
name2 = 'Suhita' #Double quotes

print(name2)

Suhita

In [12]:
name3 = 'Suresh' #Triple quotes

print(name3)

Suresh

In [ ]:
5. Introduction to string methods

Methods are builtin programs that are already available in python

Type will be helping to validate the datatypes

In [13]:
type(name)

str

In [14]:
type(name2)

str

In [15]:
type(name3)

str