In [ ]:
Organising the list datatypes :

In [3]:
cars = ['maruthi', 'honda', 'audi', 'toyota','bmw','suzuki', 'benz']

In [4]:
print(cars)

['maruthi', 'honda', 'audi', 'toyota', 'bmw', 'suzuki', 'benz']

In [5]:
type(cars)

list

In [ ]:
# req : I want to organise the above list in a alphabatical order ...! A - Z

In [ ]:
# two approaches

1. temp approach --------> We can get the orgional order back.

2. permanent approach ---> Changes are applied permanently, hence we will not get the origional order.

In [ ]:
1. Temp approach ---> sorted

In [7]:
print(sorted(cars)) ***

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'suzuki', 'toyota']

In [ ]:
benz, bmw ---> b,b  e,m

In [8]:
print(cars) # orginal order...!

['maruthi', 'honda', 'audi', 'toyota', 'bmw', 'suzuki', 'benz']

In [ ]:
2. permanent approach ---> sort

In [9]:
cars.sort() ---> permanent approach

In [10]:
print(cars) # A-Z

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'suzuki', 'toyota']

In [11]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'suzuki', 'toyota']

In [ ]:
Interview Question : What is the difference between sorted and sort in a list ? *******

In [ ]:
# req : To know the number of elements present in the list...?

In [12]:
len(cars) # It is giving us the total number of counts present in the list

7

In [13]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'suzuki', 'toyota']

In [ ]:
# I want to print the list in a reverse order ****

In [14]:
cars.reverse()

In [15]:
print(cars)

['toyota', 'suzuki', 'maruthi', 'honda', 'bmw', 'benz', 'audi']

In [ ]:
Introduction to slicing of lists

In [16]:
mystudents = ['keerthana', 'priyanka','deepak','rahul','kubra','ayesha','imran','naveed','rishika','shivani']

In [17]:
print(mystudents)

['keerthana', 'priyanka', 'deepak', 'rahul', 'kubra', 'ayesha', 'imran', 'naveed', 'rishika', 'shivani']

In [ ]:
# General syntax of slicing :

variable[startvalue:stopvalue:stepcount]

Note : last value is always exclusive 
    
Note2 : We have to increment the number by 1.

In [ ]:
# Req : I want to print keerthana and priyanka from the list

In [22]:
print(mystudents[0:2])

['keerthana', 'priyanka']

In [ ]:
# Req : I want to print deepak and rahul from the list

In [23]:
print(mystudents[2:4])

['deepak', 'rahul']

In [ ]:
# Req : I want to print kubra and ayesha from the list

In [24]:
print(mystudents[4:6])

['kubra', 'ayesha']

In [ ]:
# Req : I want to print rishika and shivani from the list

In [25]:
print(mystudents[8:10]) # last value is always exclusive

['rishika', 'shivani']

In [26]:
print(mystudents)

['keerthana', 'priyanka', 'deepak', 'rahul', 'kubra', 'ayesha', 'imran', 'naveed', 'rishika', 'shivani']

In [ ]:
variable[startvalue:stopvalue:stepcount]

In [ ]:
# req : I want to have every alternate name from the list

In [28]:
print(mystudents[0:10:2])

['keerthana', 'deepak', 'kubra', 'imran', 'rishika']